/*
Gunmetal: #152229
Blue: #0F89FA
White: #EFF1F3
*/

body {
    text-align: left;
    background-color: #eff1f3;
    display: grid;

    grid-template-areas:
        "title title title"
        "about content content";

    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;

    font-size: 80px;
    color: #0f89fa;

    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 300;

    font-size: 30px;
    color: #0f89fa;

    padding: 0px;
    margin: 0px;
}

h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 100;

    font-size: 15px;
    color: #0f89fa;

    padding: 0px;
    margin: 0px;
}

p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
}

img {
    width: calc(20vw);
}

a {
    text-decoration: none;
}

button {
    background-color: #0f89fa;
    color: #eff1f3;

    border: none;

    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;

    border-radius: 0vw;

    cursor: pointer;
    font-size: 1.5vw;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
}

button:hover {
    background-color: #eff1f3;
    color: #0f89fa;

    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;

    border-radius: 10vw;
    border: none;

    transition-duration: 0.5s;
}
